:root {
    --body-bg: #F0F8FF;
    --main-text: #0F172A;
    --actions: #2563EB;
    --secondary: #06B6D4;
    --featured: #8B5CF6;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--body-bg);
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-text);
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #0004
}

.inputs_form {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 20rem;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #0004
}

input {
    display: block;
    width: 90%;
    margin: 10px;
    border: 1px solid #000;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #000;
    background-color: var(--body-bg);
    text-align: center;

}

input:focus {
    outline: none;

}

form {
    width: 100%;
    text-align: center;
}

form>button {
    border-radius: 4px;
    border: none;
    background-color: var(--actions);
    box-shadow: 0 0 10px #0004;
    padding: 5px 20px 5px 20px;


}

form>button:hover {
    background-color: #48d;
}

.navigation_buttons_container {
    margin: 20px;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 10px;
}


.navigation_btn {
    display: flex;
    gap: 20px;
}

.navigation_btn>button {
    background-color: var(--actions);
    border: none;
    border-radius: 4px;
    padding: 10px 30px 10px 30px;
    box-shadow: 0 0 3px var(--featured);
}

.navigation_btn>button:hover {
    scale: 1.1
}

.isActive {
    opacity: 90%;
    scale: 1.1;
    color: #fff;
    text-shadow: 0 0 10px #0004;
}

.dinamic_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_alumnos {
    width: 80%;

}

td,
th {
    border-bottom: 1px solid black;
    padding: 5px;
    text-align: center;

}

tr:hover {
    background-color: var(--featured);
}